In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('appstore_games.csv')
df1 = pd.DataFrame({"Genre":[], 
                    "Occurences":[]})
genre = set(df['Primary Genre'])
for g in genre:
    k = 0
    for d in range(0,len(df.index)):
        if g == df.loc[d,'Primary Genre']:
            k = k + 1
    #print(g,':',k)
    df2 = pd.DataFrame({"Genre":[g], 
                    "Occurences":[k]})
    # print(df2)
    df1 = df1.append(df2, ignore_index=True) 
#df1
df1 = df1.sort_values('Occurences',ascending=False)
df1 = df1.append(df1,ignore_index=True)
df1

                Genre  Occurences
0               Games     16286.0
1           Education       222.0
2       Entertainment       198.0
3           Utilities        77.0
4              Sports        60.0
5           Reference        32.0
6            Stickers        29.0
7             Finance        18.0
8            Business        16.0
9        Productivity        15.0
10          Lifestyle        10.0
11               Book         9.0
12  Social Networking         9.0
13               News         7.0
14   Health & Fitness         5.0
15       Food & Drink         4.0
16              Music         3.0
17         Navigation         3.0
18            Medical         2.0
19           Shopping         1.0
20             Travel         1.0
21              Games     16286.0
22          Education       222.0
23      Entertainment       198.0
24          Utilities        77.0
25             Sports        60.0
26          Reference        32.0
27           Stickers        29.0
28            Finance        18.0
29           Business        16.0
30       Productivity        15.0
31          Lifestyle        10.0
32               Book         9.0
33  Social Networking         9.0
34               News         7.0
35   Health & Fitness         5.0
36       Food & Drink         4.0
37              Music         3.0
38         Navigation         3.0
39            Medical         2.0
40           Shopping         1.0
41             Travel         1.0

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('appstore_games.csv')
df.head()

,URL,ID,Name,Subtitle,Icon URL,Average User Rating,User Rating Count,Price,In-app Purchases,Description,Developer,Age Rating,Languages,Size,Primary Genre,Genres,Original Release Date,Current Version Release Date
0,https://apps.apple.com/us/app/sudoku/id284921427,284921427,Sudoku,NaN,https://is2-ssl.mzstatic.com/image/thumb/Purpl...,4.0,3553.0,2.99,NaN,"Join over 21,000,000 of our fans and download ...",Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",15853568.0,Games,"Games, Strategy, Puzzle",11/7/2008,30/05/2017
1,https://apps.apple.com/us/app/reversi/id284926400,284926400,Reversi,NaN,https://is4-ssl.mzstatic.com/image/thumb/Purpl...,3.5,284.0,1.99,NaN,"The classic game of Reversi, also known as Oth...",Kiss The Machine,4+,EN,12328960.0,Games,"Games, Strategy, Board",11/7/2008,17/05/2018
2,https://apps.apple.com/us/app/morocco/id284946595,284946595,Morocco,NaN,https://is5-ssl.mzstatic.com/image/thumb/Purpl...,3.0,8376.0,0.00,NaN,Play the classic strategy game Othello (also k...,Bayou Games,4+,EN,674816.0,Games,"Games, Board, Strategy",11/7/2008,5/9/2017
3,https://apps.apple.com/us/app/sudoku-free/id28...,285755462,Sudoku (Free),NaN,https://is3-ssl.mzstatic.com/image/thumb/Purpl...,3.5,190394.0,0.00,NaN,"Top 100 free app for over a year.\nRated ""Best...",Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",21552128.0,Games,"Games, Strategy, Puzzle",23/07/2008,30/05/2017
4,https://apps.apple.com/us/app/senet-deluxe/id2...,285831220,Senet Deluxe,NaN,https://is1-ssl.mzstatic.com/image/thumb/Purpl...,3.5,28.0,2.99,NaN,"""Senet Deluxe - The Ancient Game of Life and A...",RoGame Software,4+,"DA, NL, EN, FR, DE, EL, IT, JA, KO, NO, PT, RU...",34689024.0,Games,"Games, Strategy, Board, Education",18/07/2008,22/07/2018

In [12]:
games_df = df[df['Primary Genre'] == 'Games']
games_df = games_df.drop('Primary Genre',1)
games_df['Size'] = games_df['Size']/(1024*1024)
games_df = games_df.drop(['URL','Subtitle','Icon URL','Description'],1)
games_df.head()

,ID,Name,Average User Rating,User Rating Count,Price,In-app Purchases,Developer,Age Rating,Languages,Size,Genres,Original Release Date,Current Version Release Date
0,284921427,Sudoku,4.0,3553.0,2.99,NaN,Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",15.119141,"Games, Strategy, Puzzle",11/7/2008,30/05/2017
1,284926400,Reversi,3.5,284.0,1.99,NaN,Kiss The Machine,4+,EN,11.757812,"Games, Strategy, Board",11/7/2008,17/05/2018
2,284946595,Morocco,3.0,8376.0,0.00,NaN,Bayou Games,4+,EN,0.643555,"Games, Board, Strategy",11/7/2008,5/9/2017
3,285755462,Sudoku (Free),3.5,190394.0,0.00,NaN,Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",20.553711,"Games, Strategy, Puzzle",23/07/2008,30/05/2017
4,285831220,Senet Deluxe,3.5,28.0,2.99,NaN,RoGame Software,4+,"DA, NL, EN, FR, DE, EL, IT, JA, KO, NO, PT, RU...",33.082031,"Games, Strategy, Board, Education",18/07/2008,22/07/2018

In [35]:
genre = list(set(games_df['Genres']))
subgenre = []
for i in range(0,len(genre)):
    genre[i] = genre[i][7:]
    s =  ''
    for j in range(0,len(genre[i])):
        if genre[i][j] != ',':
            s = s + genre[i][j];
        else:
            s = s.strip()
            subgenre.append(s)
            s = ''
subgenre = list(set(subgenre))
subgenre

['Board',
 'Books',
 'Puzzle',
 'Family',
 'Action',
 'Reference',
 'Shopping',
 'Utilities',
 'Word',
 'Racing',
 'Magazines & Newspapers',
 'Social Networking',
 'Finance',
 'Adventure',
 'Gaming',
 'Music',
 'Casual',
 'Medical',
 'Casino',
 'Stickers',
 'Photo & Video',
 'Role Playing',
 'Strategy',
 'Lifestyle',
 'Card',
 'Business',
 'Entertainment',
 'Simulation',
 'Health & Fitness',
 'Trivia',
 'News',
 'Food & Drink',
 'Navigation',
 'Emoji & Expressions',
 'Productivity',
 'Education',
 'Sports',
 'Travel']

In [43]:
for g in subgenre:
    genrewise = games_df[games_df['Genres']]

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,Games
Types,Board,Books,Puzzle,Family,Action,Reference,Shopping,Utilities,Word,Racing,...,Trivia,News,Food & Drink,Navigation,Emoji & Expressions,Productivity,Education,Sports,Travel,NaN