# Series in Pandas

In [2]:
import pandas as pd
s = pd.Series([100,200,300])
print(s)

0    100
1    200
2    300
dtype: int64

# Adding custom indexes to Series in pandas

In [7]:
s = pd.Series([100,200,300],index = ['one','two','three'])
print(s)

one      100
two      200
three    300
dtype: int64

# Passing dictionaries to Series

In [5]:
d = {'hello' : 'hi', 'what\'s up' : 'ssup', 'high five' : 'hi5'}
d
s = pd.Series(d)
s

hello          hi
what's up    ssup
high five     hi5
dtype: object

# Indexing in Series
.loc[] and .iloc[] are attributes and not functions hence no ()

In [18]:
# Indexing  using keys
print(s.loc['hello'])
# Indexing using index numbers
print(s.iloc[2])

hi
hi5

# Arithmetic operations on Series

In [6]:
%%timeit -n 100
s = pd.Series(d)
s+='1'

len(s)

415 µs ± 43.7 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

# Dataframes in Pandas
Used for primarily data cleansing. Double dimentional data structure
Inputing data as a series of dictionaries

In [46]:
import pandas as pd
# data as a number of series
purchase1 = pd.Series({'Name':'Chris','Item Purchased':'Dog Food','Cost':22.50})
purchase2 = pd.Series({'Name':'Kevyn','Item Purchased':'Cat Food','Cost':25.50})
purchase3 = pd.Series({'Name':'Vinod','Item Purchased':'Bird Food','Cost':27.50})
df = pd.DataFrame([purchase1, purchase2, purchase3],index=['Store 1','Store 2','Store 3'])
df

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 2  Kevyn       Cat Food  25.5
Store 3  Vinod      Bird Food  27.5

In [17]:
print(df.loc['Store 1'].loc['Item Purchased'])
print(df.loc['Store 2'].loc['Item Purchased'])
print(df.loc['Store 3'].loc['Item Purchased'])

Dog Food
Cat Food
Bird Food

In [14]:
#MEthod 2
print(df['Item Purchased'])
# Here 'Item Purchased is a column and hence can be printed directly'

Store 1     Dog Food
Store 2     Cat Food
Store 3    Bird Food
Name: Item Purchased, dtype: object

# Finding transpose

In [15]:
df.T

                 Store 1   Store 2    Store 3
Name               Chris     Kevyn      Vinod
Item Purchased  Dog Food  Cat Food  Bird Food
Cost                22.5      25.5       27.5

# Deleting Rows/Columns

Removing Rows

In [18]:
df.drop('Store 1')
# This will just return a copy of the dataframe without the given row and no changes are made to the original dataframes

          Name Item Purchased  Cost
Store 2  Kevyn       Cat Food  25.5
Store 3  Vinod      Bird Food  27.5

Removing Columns

In [35]:
df.drop('Name',1)

        Item Purchased
Store 1       Dog Food
Store 2       Cat Food
Store 3      Bird Food

In [23]:
df

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 2  Kevyn       Cat Food  25.5
Store 3  Vinod      Bird Food  27.5

Deletion Method 1

In [42]:
df = df.copy().drop('Cost',1)
df

          Name Item Purchased
Store 1  Chris       Dog Food
Store 2  Kevyn       Cat Food
Store 3  Vinod      Bird Food

Deletion Method 2

In [47]:
del df['Item Purchased']
df

          Name  Cost
Store 1  Chris  22.5
Store 2  Kevyn  25.5
Store 3  Vinod  27.5

# Querying a DataFrame

In [ ]:
import pandas as pd
# data as a number of series
purchase1 = pd.Series({'Name':'Chris','Item Purchased':'Dog Food','Cost':22.50})
purchase2 = pd.Series({'Name':'Kevyn','Item Purchased':'Cat Food','Cost':25.50})
purchase3 = pd.Series({'Name':'Vinod','Item Purchased':'Bird Food','Cost':27.50})
df = pd.DataFrame([purchase1, purchase2, purchase3],index=['Store 1','Store 2','Store 3'])
df

Selecting data from a data frames based on a particular condition

In [95]:
data = pd.read_csv('Verzeo/appstore_games.csv')
data[data['Average User Rating']>=4].head()

,URL,ID,Name,Subtitle,Icon URL,Average User Rating,User Rating Count,Price,In-app Purchases,Description,Developer,Age Rating,Languages,Size,Primary Genre,Genres,Original Release Date,Current Version Release Date
0,https://apps.apple.com/us/app/sudoku/id284921427,284921427,Sudoku,NaN,https://is2-ssl.mzstatic.com/image/thumb/Purpl...,4.0,3553.0,2.99,NaN,"Join over 21,000,000 of our fans and download ...",Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",15853568.0,Games,"Games, Strategy, Puzzle",11/07/2008,30/05/2017
24,https://apps.apple.com/us/app/boomshine/id2922...,292242592,Boomshine,NaN,https://is3-ssl.mzstatic.com/image/thumb/Purpl...,4.0,637.0,0.99,NaN,Boomshine is an addictive casual game. Touch t...,TwoDesk Software Company,4+,EN,22873088.0,Games,"Games, Puzzle, Entertainment, Strategy",7/10/2008,20/05/2017
26,https://apps.apple.com/us/app/fieldrunners/id2...,292421271,Fieldrunners,NaN,https://is1-ssl.mzstatic.com/image/thumb/Purpl...,4.0,41869.0,2.99,"0.99, 0.99, 0.99, 0.99",OVERVIEW\n\nThe invasion begins! Pint sized s...,"Subatomic Studios, LLC",9+,EN,75041792.0,Games,"Games, Entertainment, Action, Strategy",5/10/2008,11/04/2018
30,https://apps.apple.com/us/app/expert-sudoku/id...,294193726,Expert Sudoku,NaN,https://is1-ssl.mzstatic.com/image/thumb/Purpl...,4.0,523.0,2.99,NaN,"Join over 21,000,000 of our fans and download ...",Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",9543680.0,Games,"Games, Strategy, Entertainment, Puzzle",21/10/2008,30/05/2017
32,https://apps.apple.com/us/app/chess-genius/id2...,294631172,Chess Genius,NaN,https://is5-ssl.mzstatic.com/image/thumb/Purpl...,4.0,156.0,5.99,NaN,"""ChessGenius, award winning chess program. Sup...",Lang Software Limited,4+,"EN, FR, DE, IT, ES",1751040.0,Games,"Games, Strategy, Board, Entertainment",8/11/2008,5/08/2016

In [ ]:
county = census_df[census_df['STNAME'] == 'Texas']
county.sort_values('CENSUS2010POP', ascending=False, inplace=True)
county=county[:3]
totpop = sum(county['CENSUS2010POP'])
totpop

Selecting only free apps

In [90]:
data = data[data['Price'] == 0]
data.head(10)

,URL,ID,Name,Subtitle,Icon URL,Average User Rating,User Rating Count,Price,In-app Purchases,Description,Developer,Age Rating,Languages,Size,Primary Genre,Genres,Original Release Date,Current Version Release Date
2,https://apps.apple.com/us/app/morocco/id284946595,284946595,Morocco,NaN,https://is5-ssl.mzstatic.com/image/thumb/Purpl...,3.0,8376.0,0.0,NaN,Play the classic strategy game Othello (also k...,Bayou Games,4+,EN,674816.0,Games,"Games, Board, Strategy",11/07/2008,5/09/2017
3,https://apps.apple.com/us/app/sudoku-free/id28...,285755462,Sudoku (Free),NaN,https://is3-ssl.mzstatic.com/image/thumb/Purpl...,3.5,190394.0,0.0,NaN,"Top 100 free app for over a year.\nRated ""Best...",Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",21552128.0,Games,"Games, Strategy, Puzzle",23/07/2008,30/05/2017
5,https://apps.apple.com/us/app/sudoku-classic-n...,286210009,Sudoku - Classic number puzzle,Original brain training,https://is1-ssl.mzstatic.com/image/thumb/Purpl...,3.0,47.0,0.0,1.99,"Sudoku will tease your brain, challenge you or...",OutOfTheBit Ltd,4+,EN,48672768.0,Games,"Games, Entertainment, Strategy, Puzzle",30/07/2008,29/04/2019
6,https://apps.apple.com/us/app/gravitation/id28...,286313771,Gravitation,NaN,https://is5-ssl.mzstatic.com/image/thumb/Purpl...,2.5,35.0,0.0,NaN,"""Gravitation is a new implementation of the pu...",Robert Farnum,4+,NaN,6328320.0,Games,"Games, Entertainment, Puzzle, Strategy",30/07/2008,14/11/2013
8,https://apps.apple.com/us/app/carte/id286566987,286566987,Carte,NaN,https://is3-ssl.mzstatic.com/image/thumb/Purpl...,2.5,44.0,0.0,NaN,"""Jeu simple qui consiste \xe0 trouver comment ...",Jean-Francois Pautex,4+,FR,2657280.0,Games,"Games, Strategy, Board, Entertainment",3/08/2008,23/11/2017
9,https://apps.apple.com/us/app/barrels-o-fun/id...,286682679,"""Barrels O' Fun""",NaN,https://is4-ssl.mzstatic.com/image/thumb/Purpl...,2.5,184.0,0.0,NaN,Barrels O\u2019 Fun is a simple but challengin...,BesqWare,4+,EN,1466515.0,Games,"Games, Casual, Strategy",1/08/2008,1/08/2008
10,https://apps.apple.com/us/app/quaddraxx/id2875...,287563734,Quaddraxx,NaN,https://is5-ssl.mzstatic.com/image/thumb/Purpl...,NaN,NaN,0.0,NaN,Quaddraxx-Logic \u2013 Challenge your brain!\n...,H2F Informationssysteme GmbH,4+,EN,3089867.0,Games,"Games, Entertainment, Strategy, Puzzle",11/08/2008,30/09/2008
11,https://apps.apple.com/us/app/lumen-lite/id288...,288096268,Lumen Lite,NaN,https://is1-ssl.mzstatic.com/image/thumb/Purpl...,3.5,5072.0,0.0,NaN,"""The objective of Lumen is to light up all the...",Bridger Maxwell,4+,EN,7086403.0,Games,"Games, Puzzle, Strategy",18/08/2008,22/11/2008
12,https://apps.apple.com/us/app/bubblepop/id2886...,288669794,BubblePop,NaN,https://is2-ssl.mzstatic.com/image/thumb/Purpl...,3.0,526.0,0.0,NaN,Are you ready for some popping? Once you pop ...,TMSOFT,4+,EN,845008.0,Games,"Games, Strategy, Entertainment",22/08/2008,25/07/2009
14,https://apps.apple.com/us/app/tetravex-lite/id...,288918962,Tetravex Lite,NaN,https://is3-ssl.mzstatic.com/image/thumb/Purpl...,2.5,2358.0,0.0,NaN,Play the classic edge matching puzzle game Tet...,Futrell Software,4+,EN,731525.0,Games,"Games, Puzzle, Strategy, Entertainment",27/08/2008,21/10/2008

# Missing Values in Data Frames

In [ ]:
import numpy as np
def answer_three():
    df['Relative'] = df['Difference']/df['Gold.2']
    for ind in df.index:
        if not(df['Gold'][ind] >= 1 and df['Gold.1'][ind] >=1):
            df['Relative'][ind] = 0
    return df['Relative'].idxmax()
answer_three()