In [32]:
import numpy as np
import pandas as pd
s1 = pd.Series({'x':1,'y':3})
s2 = pd.Series({'x':2,'y':4})
s3 = pd.Series({'x':3,'y':2})
s4 = pd.Series({'x':4,'y':4})
s5 = pd.Series({'x':5,'y':5})
data = pd.DataFrame([s1,s2,s3,s4,s5])
data

   x  y
0  1  3
1  2  4
2  3  2
3  4  4
4  5  5

In [16]:
X = data['x'].values
Y = data['y'].values
meanX = np.mean(X)
meanY = np.mean(Y)
print(meanX,meanY)

3.0 3.6

In [35]:
num = 0
den = 0
Ydiff = []
for i in range(0,len(X)):
    num += (X[i]-meanX)*(Y[i]-meanY)
    Ydiff.append(Y[i]-meanY)
    den += (X[i]-meanX)**2
print(num,den)

4.0 10.0

In [21]:
# Finding m
m = num/den
m

0.4

In [22]:
# Finding c
c = meanY-meanX*m
c

2.4

In [23]:
# forming the equation y = mx + c
def RegLine(x=0):
    return m*x + c

In [28]:
# finding predicted values
PredictVal = []
for i in range(0,len(Y)):
    PredictVal.append(RegLine(X[i]))
PredictVal

[2.8, 3.2, 3.6, 4.0, 4.4]

In [33]:
data['Yp'] = PredictVal
data

   x  y   Yp
0  1  3  2.8
1  2  4  3.2
2  3  2  3.6
3  4  4  4.0
4  5  5  4.4

In [37]:
# Calculation of R^2
data['y-y*'] = Ydiff
YpDiffsq = []
YDiffsq = []
for i in range(0,len(PredictVal)):
    YpDiffsq.append((PredictVal[i]-meanY)**2)
    YDiffsq.append((Y[i]-meanY)**2)
data['(y-y*)^2'] = YDiffsq
data['(Yp-y*)^2'] = YpDiffsq
data

   x  y   Yp  y-y*  (y-y*)^2  (Yp-y*)^2
0  1  3  2.8  -0.6      0.36       0.64
1  2  4  3.2   0.4      0.16       0.16
2  3  2  3.6  -1.6      2.56       0.00
3  4  4  4.0   0.4      0.16       0.16
4  5  5  4.4   1.4      1.96       0.64

In [39]:
Rsq = np.sum(YpDiffsq)/np.sum(YDiffsq)
Rsq

0.3076923076923078