---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [2]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)
df.head()

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [3]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [4]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [5]:
def answer_one():
    return df['Gold'].idxmax()
    # return "YOUR ANSWER HERE"
answer_one()

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [6]:
def answer_two():
    df['Difference'] = abs(df['Gold']-df['Gold.1']) 
    return df['Difference'].idxmax()
answer_two()

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [7]:
import numpy as np
def answer_three():
    data = df[(df['Gold'] >= 1) & (df['Gold.1'] >= 1)]
    data['Relative'] = data['Difference']/data['Gold.2']
    return data['Relative'].idxmax()
answer_three()

'Bulgaria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [8]:
def answer_four():
    Points = pd.Series()
    Points = df['Gold.2']*3+df['Silver.2']*2+df['Bronze.2']*1
    return Points
answer_four()

Afghanistan                            2
Algeria                               27
Argentina                            130
Armenia                               16
Australasia                           22
Australia                            923
Austria                              569
Azerbaijan                            43
Bahamas                               24
Bahrain                                1
Barbados                               1
Belarus                              154
Belgium                              276
Bermuda                                1
Bohemia                                5
Botswana                               2
Brazil                               184
British West Indies                    2
Bulgaria                             411
Burundi                                3
Cameroon                              12
Canada                               846
Chile                                 24
China                               1120
Colombia                              29
Costa Rica                             7
Ivory Coast                            2
Croatia                               67
Cuba                                 420
Cyprus                                 2
                                    ...
Spain                                268
Sri Lanka                              4
Sudan                                  2
Suriname                               4
Sweden                              1217
Switzerland                          630
Syria                                  6
Chinese Taipei                        32
Tajikistan                             4
Tanzania                               4
Thailand                              44
Togo                                   1
Tonga                                  2
Trinidad and Tobago                   27
Tunisia                               19
Turkey                               191
Uganda                                14
Ukraine                              220
United Arab Emirates                   3
United States                       5684
Uruguay                               16
Uzbekistan                            38
Venezuela                             18
Vietnam                                4
Virgin Islands                         2
Yugoslavia                           171
Independent Olympic Participants       4
Zambia                                 3
Zimbabwe                              18
Mixed team                            38
dtype: int64

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [9]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [10]:
def answer_five():
    state = set(census_df['STNAME'])
    max = 0
    for s in state:
        if max < len(census_df[(census_df['SUMLEV'] == 50) & (census_df['STNAME'] == s)]):
            maxN = s
            max = len(census_df[(census_df['SUMLEV'] == 50) & (census_df['STNAME'] == s)])
    return maxN
answer_five()

'Texas'

### Question 6
**Only looking at the three most populous counties for each state**, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [21]:
def answer_six():
    max = 0
    state = set(census_df['STNAME'])
    populus = []
    maxN =''
    for s in state:
        
        county = census_df[(census_df['SUMLEV'] == 50) & (census_df['STNAME'] == s)]
        county = county.sort_values('CENSUS2010POP', ascending=False)
        county = county[:3]
        # print(s," ",int(sum(county['CENSUS2010POP'])))
        if max < sum(county['CENSUS2010POP']):
            max = sum(county['CENSUS2010POP'])
            maxN = s
    populus.append(maxN)
    max = 0
    # print(populus[0])
    for s in state:
        if s != populus[0]:
            county = census_df[(census_df['SUMLEV'] == 50) & (census_df['STNAME'] == s)]
            county = county.sort_values('CENSUS2010POP', ascending=False)
            county = county[:3]
            # print(s," ",int(sum(county['CENSUS2010POP'])))
            if max < sum(county['CENSUS2010POP']):
                max = sum(county['CENSUS2010POP'])
                maxN = s
                # populus.append(s)
    max = 0
    populus.append(maxN)
    # print(populus[1])
    for s in state:
        if (s != populus[1]) & (s!= populus[0]):
            county = census_df[(census_df['SUMLEV'] == 50) & (census_df['STNAME'] == s)]
            county = county.sort_values('CENSUS2010POP', ascending=False)
            county = county[:3]
            # print(s," ",int(sum(county['CENSUS2010POP'])))
            if max < sum(county['CENSUS2010POP']):
                max = sum(county['CENSUS2010POP'])
                maxN = s
                # populus.append(s)           
    populus.append(maxN)
    # populus.reverse()
    # populus.sort()
    return populus
answer_six()

['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [12]:
def answer_seven():
    return 0

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [13]:
def answer_eight():
    spl = census_df[((census_df['REGION'] == 1) | (census_df['REGION'] == 2)) & (census_df['POPESTIMATE2015'] > census_df['POPESTIMATE2014']) &(census_df['CTYNAME'].str.startswith('Washington') )]
    l = census_df.columns.tolist()
    l.remove('STNAME')
    l.remove('CTYNAME')
    # print(l)    
    return spl.drop(l,1)
answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County

In [14]:
census_df[census_df['CTYNAME'].str.startswith('Washington') ]
# searching for string starting with

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
65,50,3,6,1,129,Alabama,Washington County,17581,17583,17610,...,-14.708407,-13.062030,-11.181733,1.067236,-0.950486,-13.849940,-12.075121,-10.122411,2.193763,0.118811
186,50,3,7,5,143,Arkansas,Washington County,203065,203060,204026,...,5.763423,5.801883,10.908233,7.168967,9.211963,9.191373,8.872065,14.267128,10.975336,12.950540
311,50,4,8,8,121,Colorado,Washington County,4814,4814,4801,...,-3.537981,-12.780222,10.930110,1.463823,15.336788,-2.913632,-12.570710,11.140305,1.672940,15.544041
396,50,3,5,12,133,Florida,Washington County,24896,24896,24754,...,-5.796984,10.967886,-8.778317,-5.505710,11.155898,-5.756446,11.008357,-8.697411,-5.301794,11.359472
547,50,3,5,13,303,Georgia,Washington County,21187,21187,21110,...,-6.219880,-11.035998,-12.870571,-3.054694,8.835458,-6.219880,-11.035998,-12.870571,-3.006206,8.883739
607,50,4,8,16,87,Idaho,Washington County,10198,10198,10195,...,-5.508558,-6.342285,-8.501700,6.613558,-5.302121,-5.606925,-6.342285,-8.501700,6.713763,-5.102041
703,50,2,3,17,189,Illinois,Washington County,14716,14716,14701,...,-8.057633,2.192006,-12.192182,-2.775850,-10.605638,-8.125918,2.123506,-12.192182,-2.775850,-10.605638
799,50,2,3,18,175,Indiana,Washington County,28262,28262,28284,...,-3.683894,-9.517699,-5.310179,0.717901,-5.454774,-3.258829,-9.161231,-4.879624,1.148641,-5.024134
896,50,2,4,19,183,Iowa,Washington County,21704,21704,21697,...,5.743693,2.468684,-0.364282,0.272171,1.849596,5.881542,2.560117,-0.273212,0.408256,1.984933
1005,50,2,4,20,201,Kansas,Washington County,5799,5799,5782,...,10.504563,-18.164519,-18.821460,-5.501819,-6.948156,12.054417,-16.780555,-17.238347,-3.549561,-4.988420
1125,50,3,6,21,229,Kentucky,Washington County,11717,11717,11742,...,3.996259,7.610672,-1.852320,2.013592,6.245316,3.826205,7.695235,-1.768123,2.097491,6.328587
1190,50,3,7,22,117,Louisiana,Washington Parish,47168,47171,47099,...,0.636693,-10.514642,-5.140614,-1.057904,1.273500,0.594246,-10.535969,-5.140614,-1.057904,1.273500
1211,50,1,1,23,29,Maine,Washington County,32856,32856,32824,...,0.213626,-3.280699,-4.262285,-9.111049,-4.284274,0.366217,-2.790127,-3.829879,-8.643015,-3.811744
1234,50,3,5,24,43,Maryland,Washington County,147430,147430,147738,...,3.736213,-1.167699,-2.572657,-2.349838,-3.264127,5.246883,0.429498,-0.857552,-0.455239,-1.377890
1419,50,2,4,27,163,Minnesota,Washington County,238136,238134,238995,...,2.555118,3.260957,2.285952,3.072543,0.678755,4.178076,4.907905,4.009584,5.040262,2.615204
1501,50,3,6,28,151,Mississippi,Washington County,51137,51135,51076,...,-17.258533,-12.536440,-11.003217,-15.335437,-24.304734,-17.278235,-12.178256,-10.602371,-14.930808,-23.893487
1618,50,2,4,29,221,Missouri,Washington County,25195,25196,25177,...,-5.130755,-2.389867,0.079577,-1.592420,-11.511311,-5.011435,-2.389867,0.079577,-1.592420,-11.511311
1770,50,2,4,31,177,Nebraska,Washington County,20234,20234,20275,...,-1.874784,-1.331459,-4.492607,-0.889284,-3.998716,-1.825448,-1.282146,-4.393868,-0.790475,-3.899983
1918,50,1,2,36,115,New York,Washington County,63216,63216,63292,...,-3.719090,-1.776030,-4.165839,-4.954213,-2.342897,-3.418398,-1.522311,-3.879636,-4.634587,-2.021953
2017,50,3,5,37,187,North Carolina,Washington County,13228,13218,13163,...,-17.616422,-19.247253,3.143542,-15.579280,-15.234735,-15.854779,-17.766695,4.872490,-13.760380,-13.390530
2162,50,2,3,39,167,Ohio,Washington County,61778,61778,61708,...,0.129798,0.780050,-0.455611,-2.137467,0.016355,0.227147,1.023816,-0.162718,-1.778503,0.376173
2241,50,3,7,40,147,Oklahoma,Washington County,50976,50977,51064,...,6.550601,1.937177,-4.298577,5.621233,-0.538524,8.012789,3.273830,-2.826992,7.224540,1.057814
2279,50,4,9,41,67,Oregon,Washington County,529710,529849,531658,...,4.095125,4.109241,2.794508,2.761557,7.923706,7.187933,7.194390,6.167129,6.638461,11.759856
2345,50,1,2,42,125,Pennsylvania,Washington County,207820,207820,207877,...,3.683135,3.260434,1.219337,2.113561,1.656917,4.062988,3.750219,1.742595,2.762039,2.305276
2355,50,1,1,44,9,Rhode Island,Washington County,126979,127094,127085,...,-4.669304,-2.659574,1.551904,1.400112,0.506035,-3.533527,-1.788880,2.462459,2.428442,1.533918
2560,50,3,6,47,179,Tennessee,Washington County,122979,122979,123338,...,5.102082,6.355175,3.498305,2.204098,1.665583,5.562967,6.869373,4.065382,2.880446,2.347678
2805,50,3,7,48,477,Texas,Washington County,33718,33708,33726,...,3.929796,-3.861914,4.908877,3.937410,6.186938,5.288973,-2.505822,6.349206,5.687370,7.950504
2848,50,4,8,49,53,Utah,Washington County,138115,138115,138424,...,10.452576,13.931997,15.138553,17.835620,18.206181,10.809807,14.120739,15.384931,18.229593,18.589948
2863,50,1,1,50,23,Vermont,Washington County,59534,59526,59570,...,-1.578161,-5.617505,-3.407759,-4.097008,-6.278073,-1.376694,-5.281128,-3.087227,-3.741482,-5.920784
2957,50,3,5,51,191,Virginia,Washington County,54876,54870,54893,...,-1.058037,7.122105,-3.806956,-0.219364,-2.782507,-0.711439,7.522837,-3.388009,0.292486,-2.269940
3000,40,4,9,53,0,Washington,Washington,6724540,6724543,6743060,...,3.454740,1.941180,2.212454,3.964679,5.732807,6.412660,5.351692,5.671575,7.840731,9.653974
3163,50,2,3,55,131,Wisconsin,Washington County,131887,131885,131967,...,-0.794876,0.785279,-2.215465,1.601149,-0.434498,-0.431504,1.162817,-1.763330,2.104796,0.059931